<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>com.bjrnt.bear</string>
		<key>category</key>
		<string>Productivity</string>
		<key>connections</key>
		<dict>
			<key>E0B7F513-FA5A-4CB5-B7FB-461104881DB9</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>9454A998-DEB4-4E4E-81FA-081EBD5A2F3F</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>Bjorn Tegelund</string>
		<key>description</key>
		<string>Handles Bear integration for Alfred.</string>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>Bear</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false/>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>b</string>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<true/>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Searching...</string>
					<key>script</key>
					<string>./alfred-bear &#34;$1&#34;</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string/>
					<key>subtext</key>
					<string/>
					<key>title</key>
					<string>Search Bear notes</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>E0B7F513-FA5A-4CB5-B7FB-461104881DB9</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>concurrently</key>
					<false/>
					<key>escaping</key>
					<integer>102</integer>
					<key>script</key>
					<string>open bear://x-callback-url/open-note?id=$1&amp;new_window=yes&amp;show_window=yes&amp;edit=yes</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string/>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>9454A998-DEB4-4E4E-81FA-081EBD5A2F3F</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>readme</key>
		<string/>
		<key>uidata</key>
		<dict>
			<key>9454A998-DEB4-4E4E-81FA-081EBD5A2F3F</key>
			<dict>
				<key>xpos</key>
				<integer>340</integer>
				<key>ypos</key>
				<integer>80</integer>
			</dict>
			<key>E0B7F513-FA5A-4CB5-B7FB-461104881DB9</key>
			<dict>
				<key>xpos</key>
				<integer>80</integer>
				<key>ypos</key>
				<integer>80</integer>
			</dict>
		</dict>
		<key>version</key>
		<string>1.0.0</string>
		<key>webaddress</key>
		<string/>
	</dict>
</plist>